<div class="code-editor-state">

    <cap-dialog show="codeEditorState.isSaveDialogShown" dialog-title="Enter name for the snapshot">
        <input class="snippet-name-input" type="text" ng-model="codeEditorState.currentSnippetTitle">
        <button class="save-code"
                ng-click="codeEditorState.saveCode()">Save code</button>
    </cap-dialog>

    <cap-dialog show="codeEditorState.isDialogShown" dialog-title="How to use">
        <p>Available hot keys:</p>
        <ul class="list-unstyled">
            <li><strong>Ctrl + Enter</strong> - Run code</li>
            <li><strong>F11</strong> - Open fullscreen mode</li>
            <li><strong>Esc</strong> - Close fullscreen mode</li>
        </ul>
    </cap-dialog>

    <cap-dialog show="codeEditorState.isSnippetDialogShown" dialog-title="Snapshots">
        <cap-snippets-list></cap-snippets-list>
    </cap-dialog>

    <cap-dialog show="codeEditorState.isSnapshotDialogShown" dialog-title="Snippets">
            <div class="snippet-block" ng-repeat="snapshot in codeEditorState.SnapshotService.snapshots">
                <div class="snapshot-name"><strong>Shortcut: </strong>{{snapshot.name}}</div>
                <code class="snapshot-code"><strong>Code: </strong>{{snapshot.code}}</code>
            </div>
            <button ng-show="!codeEditorState.addSnippetMode" class="add-snippet-btn" id="add-snippet" ng-click="codeEditorState.addSnippet()">Add snippet</button>
            <div ng-show="codeEditorState.addSnippetMode"><p>ShortCut: </p>
                <input ng-model="codeEditorState.snippetShortCut" id="snippet-name" class="snippet-input" type="text">
                <p>Code: </p>
                <textarea ng-model="codeEditorState.snippetCode" id="snippet-code" class="snippet-input" rows="10" cols="65" name="text"></textarea>
                <div>
                    <button id="save-code" class="add-snippet-btn" ng-click="codeEditorState.saveSnippet()">Add snippet</button>
                </div>
            </div>
    </cap-dialog>

    <header class="container-fluid code-editor-header">
        <div class="header-content">

            <button class="btn-run-code header-btn"
                    type="button"
                    title="Run"
                    ng-click="codeEditorState.compileCode()">
                <i class="fa fa-play"></i>
            </button>

            <button class="btn-primary"
                    ng-click="codeEditorState.showSaveDialog()">Save code</button>

            <button class="btn-primary"
                    ng-click="codeEditorState.showSnippetDialog()">Snapshots</button>

            <button class="btn-primary"
                    ng-click="codeEditorState.showSnapshotDialog();">Snippets</button>

            <button class="btn-primary"
                    ng-click="codeEditorState.clearCode()">Clear</button>

            <button class="btn-info header-btn"
                    ng-click="codeEditorState.showInfoDialog()">
                <i class="fa fa-info-circle"></i>
            </button>

            <div class="toggle-layout-wrapper">
                <span class="change-theme-block">
                    <button class="dark-theme-button"><i class="fa fa-moon-o" aria-hidden="true"></i></button>
                    <button class="light-theme-button"><i class="fa fa-sun-o" aria-hidden="true"></i></button>
                </span>

                <div class="toggle-btn-group" ng-show="codeEditorState.show">
                    <input type="radio" id="compiled" value="compiled" ng-model="codeEditorState.currentViewMode"
                           checked/>
                    <label class="header-btn" ng-class="{active: codeEditorState.currentViewMode === 'compiled'}"
                           for="compiled">Transpiled code</label>
                    <input type="radio" id="result" value="result" ng-model="codeEditorState.currentViewMode"/>
                    <label class="header-btn" ng-class="{active: codeEditorState.currentViewMode === 'result'}"
                           for="result">Console</label>
                </div>
                <button class="header-btn" ng-class="{'btn-layout-disabled': codeEditorState.page !== 'view1'}"
                        ng-click="codeEditorState.page='view1'; codeEditorState.showChoiseButtons()">
                    <img src="build/components/application/images/icon-layout-horizontal.png">
                </button>
                <button class="header-btn" ng-class="{'btn-layout-disabled': codeEditorState.page !== 'view2'}"
                        ng-click="codeEditorState.page='view2'; codeEditorState.showChoiseButtons()">
                    <img src="build/components/application/images/icon-layout-vertical.png">
                </button>
                <button class="header-btn" ng-class="{'btn-layout-disabled': codeEditorState.page !== 'view3'}"
                        ng-click="codeEditorState.page='view3'; codeEditorState.hideChoiseButtons()">
                    <img src="build/components/application/images/icon-layout-all.png">
                </button>
            </div>
        </div>
    </header>

    <div class="code-editor-container">

        <!--View modes-->

        <div ng-switch on="codeEditorState.page" class="switch">

            <!--Mode 1-->

            <div ng-switch-when="view1" class="views">
                <cap-code-editor class="col-12 horizontal" input-code="codeEditorState.inputCode"
                                 on-set-input-code="codeEditorState.setInputCode(inputCode)"></cap-code-editor>
                <cap-console class="col-12 horizontal" ng-show="codeEditorState.currentViewMode == 'compiled'"
                             compiled-code="codeEditorState.compiledCode"></cap-console>
                <div class="result col-12 horizontal" ng-show="codeEditorState.currentViewMode == 'result'">
                    <div class="label">Console</div>
                    <pre>{{codeEditorState.compilationResult}}</pre>
                </div>
            </div>

            <!--Mode 2-->

            <div ng-switch-when="view2" class="views">
                <cap-code-editor class="col-6-left vertical" input-code="codeEditorState.inputCode"
                                 on-set-input-code="codeEditorState.setInputCode(inputCode)"></cap-code-editor>
                <cap-console class="col-6-right vertical" ng-show="codeEditorState.currentViewMode == 'compiled'"
                             compiled-code="codeEditorState.compiledCode"></cap-console>
                <div class="result col-6-right vertical" ng-show="codeEditorState.currentViewMode == 'result'">
                    <div class="label">Console</div>
                    <pre>{{codeEditorState.compilationResult}}</pre>
                </div>
            </div>

            <!--Mode 3-->

            <div ng-switch-when="view3" class="views">
                <cap-code-editor class="col-6-left vertical" input-code="codeEditorState.inputCode"
                                 on-set-input-code="codeEditorState.setInputCode(inputCode)"></cap-code-editor>
                <div class="col-6-right horizontal">
                    <cap-console class="col-12 horizontal" compiled-code="codeEditorState.compiledCode"></cap-console>
                    <div class="result col-12 horizontal">
                        <div class="label">Console</div>
                        <pre>{{codeEditorState.compilationResult}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

