@import "variables";

$header-padding: 8px;
html, body, .application, #applicationContainer {
    height: 100%;
}
body{
    box-sizing: border-box;
}
.code-editor-state {
    height:  calc(100% - 37px);
    header.code-editor-header {
        background: #fff;
        color: $gray;
        font-size: $font-size-base-bigger;
        border-bottom: $border-thin-light;
        box-shadow: $shadow-light;
        top: $header-height;
        left: 0;
        position: fixed;
        z-index: 9;

        .header-content {
            padding: $header-padding $side-padding;
            overflow: hidden;

            .btn-layout-disabled {
                opacity: 0.3;
                transition: opacity $transition-ease-fast;

                &:hover {
                    opacity: 1;
                }
            }

            .toggle-btn-group {
                font-size: 0;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;

                input {
                    display: none;
                }

                label {
                    font-size: $font-size-small;
                    text-align: center;
                    padding: 2px $side-padding;
                    border: $border-thin-regular;
                    transition: all $transition-ease-fast;
                }

                label:hover {
                    cursor: pointer;
                }

                input[type="radio"]:checked + label.header-btn {
                    color: #fff;
                    background-color: $gray;
                }

                label:first-of-type {
                    border-radius: $border-radius-small 0 0 $border-radius-small;
                }

                label:last-of-type {
                    border-radius: 0 $border-radius-small $border-radius-small 0;
                }
            }

            button.header-btn {
                margin: 0;
                padding: 0;
                border: none;
                color: $gray;
                background: transparent;

                &:hover {
                    cursor: pointer;
                }
            }

            .btn-run-code {
                float: left;

                &:hover {
                    color: $gray-regular;
                    cursor: pointer;
                    transition: color $transition-ease-fast;
                }
            }

            .btn-primary{
                margin-left: 10px;
                padding: 2px 15px;
                border: 1px solid $gray;
                border-radius: 3px;
                color: $gray;
                background: white;
                font-size: $font-size-small;
                font-family: $font-family-base;
                vertical-align: top;

                &:hover {
                    background: $cyan;
                    color: white;
                    cursor: pointer;
                    transition: background $transition-ease-fast;
                }
            }

            button.btn-info {
                margin-left: 10px;

                &:hover {
                    color: $gray-regular;
                    cursor: pointer;
                    transition: color $transition-ease-fast;
                }
            }

            .toggle-layout-wrapper {
                float: right;

                button > img {
                    height: $font-size-base-bigger;
                    width: auto;
                    vertical-align: middle;
                    line-height: $font-size-base-bigger;
                }
            }
        }
    }

    .code-editor-container {
        height: 100%;
        padding-top: $header-height;
    }

    .switch {
        height: 100%;
    }

    .views {
        height: 100%;
    }

    .col-6-left {
        width: 50%;
        float: left;
        box-sizing: border-box;

    }
    .col-6-right {
        width: 50%;
        float: right;
        box-sizing: border-box;
    }
    .col-12 {
        width: 100%;
        box-sizing: border-box;
    }
    pre.ng-binding {
        margin: 4px;
    }
    .result {
        display: block;
        padding: 15px;
        border: solid 1px $gray-light;
        box-sizing: border-box;
        position: relative;
        overflow: auto;
    }
    .cap-console {
        display: block;
        padding: 7px;
        border: solid 1px $gray-light;
        box-sizing: border-box;
        position: relative;
        overflow: auto;
    }
    .label {
        position: absolute;
        top: 5px;
        right: 5px;
        color: $gray-regular;
    }
    cap-code-editor.horizontal {
        height: 100%;
        .cap-code-editor {
            height: 50%;
        }
    }
    cap-code-editor.vertical {
        height: 100%;
        .cap-code-editor {
            height: 100%;
        }
    }
    cap-console.vertical {
        height: 100%;
    }

    .col-6-right.horizontal {
        height: 100%;
    }

    .vertical {
        .CodeMirror {
            height: 100%;
            border: solid 1px $gray-light;
            box-sizing: border-box;
        }
        .cap-console {
            height: 100%;
        }
    }
    .vertical.result {
        height: 100%;
    }
    .horizontal {
        .CodeMirror {
            height: 100%;
        }
        .cap-console {
            height: 50%;
        }
    }
    .horizontal.result {
        height: 50%;
    }

    .CodeMirror-fullscreen {
        z-index: 9999;
    }

    .light-theme-button, .dark-theme-button {
        padding: 3px;
        border: 1px solid $gray;
        border-radius: 3px;
        font-size: $font-size-small;
        font-family: $font-family-base;
        vertical-align: top;

        &:hover {
            background: $cyan;
            cursor: pointer;
            transition: background $transition-ease-fast;
        }
    }

    .light-theme-button{
        margin-right: 10px;
        color: $gray;
        background: $white;

        &:hover {
            color: white;
        }
    }

    .dark-theme-button{
        color: $white;
        background: $gray;
    }

    .snippet-name-input{
        box-sizing: border-box;
        width: 50%;
        margin: 0 5px 4px;
        padding: 10px;
        border: $border-thin-light;
        @include border-radius(3px);
    }
}

.line-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=");
}

.line-error {
    background-repeat: no-repeat;
}

.error-information{
    color: $gray-lighter;
    background: $gray;
    text-align: left;
    width: 500px;
    padding: 5px;
    border: 1px solid $gray;
    border-radius: 6px;
    opacity: 1;
}

.snippet-block{
    border: $border-thin-regular;
    padding: 5px;
}

.add-snippet-btn{
    margin-top: 20px;
    padding: 2px 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    color: $white;
    background: $gray;
    font-size: $font-size-small;
    font-family: $font-family-base;
    vertical-align: top;

    &:hover {
        background: $white;
        color: $gray;
        cursor: pointer;
        transition: background $transition-ease-fast;
    }
}

.snippet-input{
    box-sizing: border-box;
    width: 50%;
    margin: 0 5px 4px;
    padding: 5px;
    border: $border-thin-light;
    @include border-radius(3px);
}

