<div class="cap-text-editor" cap-blog-text-editor>
    <ul class="cap-text-editor__nav nav-text-editor">
        <li role="presentation" class="nav-text-editor__item">
            <a class="nav-text-editor__link nav-text-editor__link_first"
               ng-class="{active: !$ctrl.isPreviewMode}"
               href="" ng-click="$ctrl.isPreviewMode = false">Editor</a>
        </li>
        <li role="presentation" class="nav-text-editor__item">
            <a class="nav-text-editor__link nav-text-editor__link_last"
               ng-class="{active: $ctrl.isPreviewMode}"
               href="" ng-click="$ctrl.isPreviewMode = true">Preview</a>
        </li>
    </ul>
    <div class="cap-text-editor__text text-block" ng-hide="$ctrl.isPreviewMode">
        <textarea class="text-block__text" id="text-editor"></textarea>
    </div>
    <div class="cap-text-editor__text text-block" ng-show="$ctrl.isPreviewMode">
        <div class="text-block__text" id="preview"></div>
    </div>
</div>
