@import 'variables';

.edit-state {
    padding: 40px 15%;
    &__title {
        padding-bottom: 15px;
        border-bottom: $border-thin-light;
        color: $red;
        font-weight: bold;
    }
    &__btn {
        cursor: pointer;
        margin: 20px;
        padding: 8px 15px;
        border: 0;
        @include border-radius(3px);
        background: $cyan;
        font-weight: bold;
        color: $white;
    }
    @media screen and (max-width: 768px) {
        padding: 0 15px 0 15px;
        .cap-text-editor {
            width: 95%;
        }
    }
}

