<div class="cap-articles-pagination">
    <div ng-show="$ctrl.pageNumbers.length > 1" ng-repeat="pageNumber in $ctrl.pageNumbers">
        <button ng-click="$ctrl.loadPage({number: pageNumber})" class="page-number">{{pageNumber}}</button>
    </div>
</div>
