@import "variables";

.cap-articles-list {
    float: left;
    width: 100%;
    font-size: $font-size-base-bigger;
    font-weight: normal;
    h5 {
        margin: 20px 0 20px 0;
        font-weight: normal;
    }
    span {
        font-size: $font-size-base;
        color: $gray-regular;
    }
    span.author {
        text-transform: uppercase;
        font-size: $font-size-base;
        color: $gray-regular;
        cursor: pointer;
    }
    .cap-article-date {
        color: $red;
        padding-top: 5px;
        font-size: $font-size-base;

    }
    .cap-list-item {
        border-bottom: $border-thin-light;
        list-style: none;
    }
    a {
        cursor: pointer;
        text-decoration: none;
        color: #333;
    }
    a:visited {
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    input#search {
        margin: 5px 0 5px 0;
        background-color: white;
        width: 300px;
        @include border-radius(3px);
        border: solid $gray-light 1px;
        background-image: url("http://findicons.com/files/icons/1389/g5_system/32/toolbar_find.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding: 10px 30px 10px 10px;
    }

    dir-pagination-controls > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    dir-pagination-controls > ul li {
        display: inline;
    }
    dir-pagination-controls > ul li a {
        color: $gray;
        float: left;
        padding: 7px 14px;
        text-decoration: none;
        border: $border-thin-light;
    }
    dir-pagination-controls > ul li:first-child a {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    dir-pagination-controls > ul li:last-child a {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    dir-pagination-controls > ul li.active a {
        background-color: $red;
        color: white;
    }
    dir-pagination-controls > ul li a:hover {
        background-color: $red;
        color: white;
    }
}
