@import "variables";

.cap-login {
    form {
        font-family: $font-family-base;
        color: $gray;
    }
    #mainContainer {
        margin: 50px 85px 50px 85px;
    }
    h3{
        font-size: $font-size-base-bigger;
    }
    #loginForm {
        background-color: $gray-lighter;
        width: 450px;
        border: none;
        margin: 5% auto;
        text-align: center;
        padding: 10px 0px;
    }
    #loginGoogle {
        background-color: #DB4A39;
        color: white;
        padding: 10px 20px 10px 20px;
        margin: 10px 0px 10px 0px;
        border: none;
        border-radius: 3px;
        display: inline-block;
    }
    #loginGoogle:hover{
        background-color: #e66a5c;
        cursor: pointer;
        transition: background-color $transition-ease-fast;
    }
    input#login, input#loginGoogle:focus {outline:0;}
    div#or {
        margin: 20px 0px 10px 0px;
    }
    hr {
        display: inline-block;
        width: 40%;
    }
    #containerTextLeft {
        text-align: left;
    }
    fieldset {
        border: none;
    }
    #login {
        background-color: $cyan;
        color: #fff;
        padding: 10px 30px 10px 30px;
        margin: 10px 0 10px 0;
        border: none;
        border-radius: 3px;
    }
    #login:hover{
        cursor: pointer;
        background-color: $cyan-light;
        transition: background-color $transition-ease-fast;
    }
    label {
        text-align: left;
        margin: 5px 0 5px 0;
        display: inline-block;
        margin: 0 0 5px 5px;
    }
    input#username, input#password, textarea:-webkit-autofill, select:-webkit-autofill {
        margin: 5px 0 5px 0;
        background-color: white;
        width: 250px;
        border-radius: 3px;
        padding: 10px;
        -webkit-box-shadow: inset 0 0 0 50px #fff !important;
        -webkit-text-fill-color: $gray !important;
        color: $gray !important;
        margin: 0 0 20px 0;
        border:solid $gray-light 1px;
    }
    p#forgotPass {
        text-align: right;
    }
    a {
        color: $cyan;
        text-decoration: none;
    }
    a:hover{
        color: $cyan-dark;
        transition: background-color $transition-ease-fast;
    }
    .google-login {
        background-color: #DB4A39;
        color: white;
        padding: 10px 20px 10px 20px;
        margin: 10px 0px 10px 0px;
        border: none;
        border-radius: 3px;
    }
    .google-login:hover{
        background-color: #e66a5c;
        color: white;
        cursor: pointer;
        transition: background-color $transition-ease-fast;
    }
    .fa-github{
        color: $gray-darker;
    }
    .fa-github:hover{
        color: $gray-regular;
    }
    .fa-google{
        color: #e66a5c;
        margin-right: 15px;
    }
    .fa-google:hover{
        color: #FF8A80;
    }
    .fa-facebook{
        color: #3F51B5;
        margin-right: 15px;
    }
    .fa-facebook:hover{
        color: #8C9EFF;
    }

}
