<div class="cap-snippets-list">
    <div ng-repeat="snippet in $ctrl.snippets">
        <button ng-click="$ctrl.chooseSnippet(snippet)" class="snippet-name-button" ng-bind="snippet.name"></button>
        <span class="snipped-code"><strong>Code:</strong> {{snippet.code}}</span>
        <hr>
    </div>
</div>
