<div class="articles-state">
    <div class="container">
        <div class="row">
            <div class="article-state-title">
                <div class="title"><h1><a ui-sref="app.blog.articles">Blog</a></h1></div>
                <div class="titleButton">
                    <button class="createArticle" id="create" ui-sref="app.blog.create">Create article</button>
                </div>
            </div>
            <div class="content">
                <cap-articles-list articles="articlesState.ArticlesService.articles"
                                   show-profile="articlesState.showProfile(id)"></cap-articles-list>
                <div class="aside">
                    <div class="tags">
                        <h2>Tags</h2>
                        <cap-tag-list tags="articlesState.TagsService.tags"
                                      display-all-tag-name="articlesState.displayAllTagName"
                                      active-tag="articlesState.activeTag"
                                      on-tag-selected="articlesState.redirectToTag(tag)"></cap-tag-list>
                    </div>
                    <div class="search"><h2>Search</h2><input type="search" id="search"></div>
                </div>
            </div>
        </div>
    </div>
</div>
